html, body, div, span, object, iframe, img, strong, b, u, i,table,tbody, tfoot, thead,td,th,tr
form, label, legend,header,footer,article,section,aside{margin:0; padding:0; border:0; vertical-align:baseline; background:transparent;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
input:focus, select:focus, textarea:focus, button:focus {outline:none}
html, body{width:100%; height:100%;}
.clear{clear:both; font-size:0;}
.clearfix::after{clear: both; content: "";	display: table;}
button,input[type="button"],input[type="submit"]{cursor: pointer}
table,td,th,tr {border-collapse:collapse; border-spacing:0;}
input, select, textarea,button {font-family: arial, helvetica, sans-serif; font-weight:400; color: #000;}

body{
	font-family: 'Ubuntu', sans-serif;
	color:#fff;
	font-size: 14px;
  line-height: 1.3;
  background-color: #421d72;
  margin: auto;
}

/* .container-fluid */
.container-fluid{
  text-align: center;
  padding: 3% 15% 1%;
  color: #45454d;
}

.lead {
	color:#F7C610;
}


/* navigationbar */
.navbar-brand{
  padding: 0;
  margin: 0;
}
.navbar-brand img{
  height: 6rem;
  background: transparent;
}

.navbar-toggler{
  background: #45454d;
}

.navbar-dark .navbar-nav .nav-link{
  color:#fff;
  font-family: 'Ubuntu', sans-serif;
	font-size: 1.3rem;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color:#F7C610;
}

header{
	height: 500px;
	background: #593090 50% 0 no-repeat;
	color:#fff;
	margin: 0;
}

.copyright p{
	color: rgb(255, 255, 255);
	text-align: center;
	height: auto;
	position: relative;
	font-size: 14px;
	margin:0;
}

.logout-image{
	padding: 0;
	margin: 0;
	text-align: center;

}

.logout-image img{
	border-radius: 4%;
	height: 25rem;
}

main-content{
	color: #fff;
	float: left;
	margin-top: 13%;
	position: absolute;
}

.radio-button{
	display: flex;
	margin: 20px;
}

form-buttons{
	float: left;
}

