@media(max-width:320px){
  .avatar {
    height: 12rem;
}
.people p {
  color: rgb(209, 208, 205);
  font-size: 1rem;
  text-align: justify;
  line-height: 2rem;
}

.welcome h1 {
  word-spacing: 0px;
  padding: 3rem;
  font-size: 2.5rem;
}

.navbar-brand img {
  height: 5rem;
}
.navbar-dark .navbar-nav .nav-link {
  font-size: 1.2rem;
  text-align: right;
}

.card-signin .card-body {
  padding: 0rem;
}
}

@media(max-width:375px){
  .container-fluid{
      padding: 8% 9% 1%;
  }

  .header-welcome {
    margin-top: 1.5rem;
}
  .welcome h1 {
    word-spacing: 0px;
    padding: 2rem;
    font-size: 3rem;
  
  }
  .avatar {
    height: 12rem;
  }

.people p {
  color: rgb(209, 208, 205);
  font-size: 1rem;
  text-align: justify;
  line-height: 2rem;
}

.navbar-brand img {
  height: 5rem;
}
.navbar-dark .navbar-nav .nav-link {
  font-size: 1.2rem;
  text-align: right;
  text-transform: uppercase;
}

.card-signin .card-body {
  padding: 0rem;
}

.display-4 {
  font-size: 2rem;
}
.card-signin .card-title {
  margin-top: 2rem;
}

h1 {
  font-size: 1.5rem;
}
.jumbotron{
  margin-top: 2.3rem;
}
}